apiVersion: v1
kind: Service
metadata:
  name: exercise-service
  labels:
    app: exercise-service
spec:
  selector:
    app: exercise-service
  ports:
    - port: 8002
      targetPort: 8002
  type: ClusterIP
